doctype html
head
  title ROOMING
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  link(rel='icon', href='/images/favicon.png', type='image/x-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i%7CMerriweather:300,300i,400,400i,700,700i,900,900i', rel='stylesheet')
  // Bootstrap Stylesheet
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  // Font Awesome Stylesheet
  link(rel='stylesheet', href='/css/font-awesome.min.css')
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  // Custom Stylesheets
  link(rel='stylesheet', href='/css/style.css')
  link#cpswitch(rel='stylesheet', href='/css/orange.css')
  link(rel='stylesheet', href='/css/responsive.css')
  // Owl Carousel Stylesheet
  link(rel='stylesheet', href='/css/owl.carousel.css')
  link(rel='stylesheet', href='/css/owl.theme.css')
  // Flex Slider Stylesheet
  link(rel='stylesheet', href='/css/flexslider.css', type='text/css')
  // Date-Picker Stylesheet
  link(rel='stylesheet', href='/css/datepicker.css')
  // Magnific Gallery
  link(rel='stylesheet', href='/css/magnific-popup.css')
  // Color Panel
  link(rel='stylesheet', href='/css/jquery.colorpanel.css')
  
  link(href='/css/star-rating.min.css', media='all', rel='stylesheet', type='text/css')

  link(rel='stylesheet', href='/css/jquery.range.css')

  // Latest compiled and minified CSS
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css')
  // Latest compiled and minified JavaScript
  


  
// ====== LOADER =====
#divTopBar.loader
// ============= TOP-BAR ===========
#top-bar.tb-text-white
  .container
    .row
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
      // end columns
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        #links
          ul.list-unstyled.list-inline
            if nick
              li
                a(href='/profile')
                  span
                    i.fa.fa-user
                  | Hola, #{nick} !
              li
                a(href='/signout')
                  span
                    i.fa.fa-sign-out
                  | Tancar Sessio
            else
              li
                a(href='/login')
                  span
                    i.fa.fa-lock
                  | Iniciar Sessió
              li
                a(href='/register')
                  span
                    i.fa.fa-plus
                  | Registra't
        // end links
      // end columns
    // end row
  // end container
// end top-bar
nav#mynavbar-1.navbar.navbar-default.main-navbar.navbar-custom.navbar-white
  .container
    .navbar-header
      button#menu-button.navbar-toggle(type='button', onclick='openNav()')
        span.icon-bar
        span.icon-bar
        span.icon-bar      
      a.navbar-brand(href='/')
        span
          img(src="images/scape-yellow.png", alt="").icon-logo
          | ROOM
        | ING
    // end navbar-header
    #myNavbar1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.active
          a(href='/')
            | Inici
            span
        li.dropdown
          a(href='/categories')
            | Categories
            span
        li.dropdown
          a(href='/rooms')
            | Rooms
            span
        li.dropdown
          a(href='/map')
            | Mapa
            span
    // end navbar collapse
  // end container
// end navbar
.sidenav-content
  #mySidenav.sidenav
    h2#web-name
      span
      | Rooming
    #main-menu
      .closebtn
        button#closebtn.btn.btn-default(onclick="closeNav()") &times;
      // end close-btn
      .list-group.panel
        a.list-group-item.active(href='/', data-parent='#main-menu')
          span
            i.fa.fa-home.link-icon(style='font-size:20px;')
          | Inici
          span
        a.list-group-item(href='/categories', data-parent='#main-menu')
          span
            i.fa.fa-list-ul.link-icon
          | Categories
          span
        a.list-group-item(href='/rooms', data-parent='#main-menu')
          span
            i.fa.fa-lock.link-icon(style='font-size:20px;')
          | Rooms
          span
        a.list-group-item(href='/map', data-parent='#main-menu')
          span
            i.fa.fa-map.link-icon
          | Mapa
          span
    // end mySidenav
  // end sidenav-content
// ========================= FLEX SLIDER =====================
section#flexslider-container-1.flexslider-container
  #slider-1.flexslider.slider
    ul.slides
      li.item-1(style='\
      background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/images/barcelona.jpg) 50% 0%;\
      background-size:cover;\
      height:100%;')
      // end item-1
  // end slider
  #search-tabs-3.search-tabs
    .container
      .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.no-pd-r
          ul.nav.nav-tabs
            li
              a(href='#flights', data-toggle='tab')
                span
                  i.fa.fa-search
                span.st-text Cercador
          #tabcontent.tab-content
            #hotels.tab-pane.in.active
              form#searchForm(method='POST', action='/search')
                .row
                  .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .row
                      .col-xs-12.col-sm-12.col-md-12
                        .form-group.right-icon
                          label PROVINCIA
                          select#provincia.form-control(name='Provincia')
                            option(value='Barcelona') Barcelona
                            option(value='Lleida') Lleida
                            option(value='Girona') Girona
                            option(value='Tarragona') Tarragona
                          i.fa.fa-angle-down
                      // end columns
                      .col-xs-6.col-sm-6.col-md-6
                        .form-group.right-icon
                          label Categoria
                          select.form-control(name='Categoria')
                            each categoria in categories
                              option(value=categoria.id) #{categoria.Titol}                          
                          i.fa.fa-angle-down
                      // end columns
                      .col-xs-6.col-sm-6.col-md-6
                        .form-group.right-icon
                          label Participants
                          select.form-control(name='Participants')
                            option(selected='', value='2') 2
                            option(value='4') 4
                            option(value='6') 6
                            option(value='10') 10
                          i.fa.fa-angle-down
                      // end columns
                      .col-xs-12.col-sm-12.col-md-12
                        .form-group.right-icon
                          label Preu
                          br
                          br                          
                          input#range.slider-input(value='23',name='Preu')
                      // end columns
                      .col-xs-6.col-sm-6.col-md-6
                        .form-group.right-icon
                          label Valoració
                          #example
                          input#inputVal(name='Valoracio',type='hidden')
                      // end columns
                    // end row
                  // end columns
                  .col-xs-12.col-sm-12.col-md-12.col-lg-12.search-btn
                    button.btn.btn-orange(type='submit') Cerca
                  // end columns
                // end row
            // end hotels
          // end tab-content
        // end columns
        .hidden-xs.hidden-sm.col-md-6.no-pd-l
          .welcome-message
            h2 Busques un Room Scape?
            p
              | Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis. Est atqui timeam mnesarchum at, pro an eros perpetua ullamcorper, imeam mnesarchum at, pro an eros perpetua ullamcorper.
            a.btn.btn-w-border(href='#') Saber M&eacute;s
      // end row
    // end container
  // end search-tabs
// end flexslider-container
// =============== ROOM OFFERS ===============
section#hotel-offers.section-padding
  .container
    .row
      .col-sm-12
        .page-heading
          h2 ELS NOSTRES ROOM SCAPES
          hr.heading-line
        // end page-heading
        #owl-hotel-offers.owl-carousel.owl-theme.owl-custom-arrow
          each room in rooms
            .item
              .main-block.hotel-block
                .main-img
                  a(href='/room/'+room.id)
                    // IMATGE
                    each foto in fotos
                      if foto.room_id == room.id && foto.principal
                        img.img-responsive(src=foto.URL, alt='roomscape-img')
                  .main-mask
                    ul.list-unstyled.list-inline.offer-price-1
                      li.price
                        | #{room.Preu} €
                        span.divider |
                        span.pkg PER PERSONA
                      li.rating
                        span
                          i.fa.fa-star.orange
                        span
                          i.fa.fa-star.orange
                        span
                          i.fa.fa-star.orange
                        span
                          i.fa.fa-star.orange
                        span
                          i.fa.fa-star.lightgrey
                  // end main-mask
                // end offer-img
                .main-info.hotel-info
                  .arrow
                    a(href='/room/'+room.id)
                      span
                        i.fa.fa-angle-right
                  // end arrow
                  .main-title.hotel-title
                    a(href='/room/'+room.id) #{room.Nom}
                    p #{room.Descripcio}
                  // end hotel-title
                // end hotel-info
              // end hotel-block
            // end item
        // end owl-hotel-offers
        .view-all.text-center
          a.btn.btn-orange(href='/rooms') Veure m&eacute;s
        // end view-all
      // end columns
    // end row
  // end container
// end hotel-offers
// ======================= FOOTER =======================
section#footer.ftr-heading-o.ftr-heading-mgn-1
  #footer-bottom.ftr-bot-black
    .container
      .row
        #copyright.col-xs-12.col-sm-6.col-md-6.col-lg-6
          p
            | &copy; 2017 
            a(href='#') Rooming
            | . All rights reserved.
        // end columns
        #terms.col-xs-12.col-sm-6.col-md-6.col-lg-6
          ul.list-unstyled.list-inline
            li
              a(href='/terms') Termes i Condicions
            li
              a(href='/polices') Politica de Privacitat
            li
              a(href='/contact') | Contacte 
        // end columns
      // end row
    // end container
  // end footer-bottom
// end footer
// Page Scripts Starts
script(src='/js/jquery.min.js')
script(src='/js/jquery.colorpanel.js')
script(src='/js/jquery.magnific-popup.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/jquery.flexslider.js')
script(src='/js/bootstrap-datepicker.js')
script(src='/js/owl.carousel.min.js')
script(src='/js/custom-navigation.js')
script(src='/js/custom-flex.js')
script(src='/js/custom-owl.js')
script(src='/js/custom-date-picker.js')
script(src='/js/custom-video.js')
script(src='/js/popup-ad.js')
script(src='/js/rooming.js')
script(src='/js/jquery.barrating.js')
script(src='/js/star-rating.min.js', type='text/javascript')
script(src='/js/jquery.range.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js')
script.
   $(function() {
    $('#example').rateYo({
      rating: 3,
      fullStar: true
    });
    $('#searchForm').submit(function (){
      var valoracio = $('#example').rateYo('rating');
      $('#inputVal').val(valoracio);
    });
  });

script.
  $(function() {
    $('.slider-input').jRange({
      from: 0,
      to: 60,
      step: 1,
      scale: [0,10,20,30,40,50,60],
      format: '%s',
      width: 500,      
      showLabels: true,
      isRange : true
    });
  });

// Page Scripts Ends