doctype html
head
  title Dades Perfil
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  link(rel='icon', href='/images/favicon.png', type='image/x-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i%7CMerriweather:300,300i,400,400i,700,700i,900,900i', rel='stylesheet')
  // Bootstrap Stylesheet
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  // Font Awesome Stylesheet
  link(rel='stylesheet', href='/css/font-awesome.min.css')
  // Custom Stylesheets
  link(rel='stylesheet', href='/css/style.css')
  link#cpswitch(rel='stylesheet', href='/css/orange.css')
  link(rel='stylesheet', href='/css/responsive.css')
  // Owl Carousel Stylesheet
  link(rel='stylesheet', href='/css/owl.carousel.css')
  link(rel='stylesheet', href='/css/owl.theme.css')
  // Flex Slider Stylesheet
  link(rel='stylesheet', href='/css/flexslider.css', type='text/css')
  // Date-Picker Stylesheet
  link(rel='stylesheet', href='/css/datepicker.css')
  // Magnific Gallery
  link(rel='stylesheet', href='/css/magnific-popup.css')
  // Color Panel
  link(rel='stylesheet', href='/css/jquery.colorpanel.css')
// ====== LOADER =====
.loader
// ============= TOP-BAR ===========
#top-bar.tb-text-white
  .container
    .row
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
      // end columns
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        #links
          ul.list-unstyled.list-inline
            if nick
              li
                a(href='/profile')
                  span
                    i.fa.fa-user
                  | Hola, #{nick} !
              li
                a(href='/signout')
                  span
                    i.fa.fa-sign-out
                  | Tancar Sessio
            else
              li
                a(href='/login')
                  span
                    i.fa.fa-lock
                  | Iniciar Sessió
              li
                a(href='/register')
                  span
                    i.fa.fa-plus
                  | Registra't
        // end links
      // end columns
    // end row
  // end container
// end top-bar
nav#mynavbar-1.navbar.navbar-default.main-navbar.navbar-custom.navbar-white
  .container
    .navbar-header
      button#menu-button.navbar-toggle(type='button')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .header-search.hidden-lg
        a.search-button(href='javascript:void(0)')
          span
            i.fa.fa-search
      a.navbar-brand(href='/')
        span
          i.fa.fa-plane
          | ROOM
        | ING
    // end navbar-header
    nav#myNavbar1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.active
          a(href='/')
            | Inici
            span
        li.dropdown
          a(href='/categories')
            | Categories
            span
        li.dropdown
          a(href='/rooms')
            | Rooms
            span
        li.dropdown
          a(href='/map')
            | Mapa
            span
    // end navbar collapse
  // end container
// end navbar
section.innerpage-wrapper(style='background-color: #f1f2f2;')
  #login.innerpage-section-padding
    .container
      .page-heading
        h2 Perfil
        hr.heading-line
        form#formProfile(method='post', action='/profile?_method=PUT')
          .row
            .col-sm-12(style='margin-top: 30px;')
              .flex-content
                #divEdit.custom-form.custom-form-fields(style='background-color: #fafafa;')
                  .row
                    .col-sm-6
                      .form-group
                        input#nom.form-control(name='Nom',type='text', placeholder='Nom', value= usuari.Nom, disabled='', required='')
                        span
                          i.fa.fa-user
                    .col-sm-6
                      .form-group
                        input#cognom.form-control(name='Cognom',type='text', placeholder='Cognom', value=usuari.Cognom, disabled='', required='')
                        span
                          i.fa.fa-user
                  .form-group
                    input#user.form-control(name='Nick',type='text', placeholder='Nom usuari', value=usuari.Nick, disabled='', required='')
                    input.form-control(name='Nick',type='hidden', placeholder='Nom usuari', value=usuari.Nick)
                    span
                      i.fa.fa-user
                  .form-group
                    input#mail.form-control(name='Email',type='email', placeholder='Correu Electronic', value=usuari.Email, disabled='', required='')
                    span
                      i.fa.fa-envelope
                  .form-group
                    input#dataNaix.form-control.dpd1(name='AnyNaixement',type='text', placeholder='Any neixament', value=usuari.AnyNaixement, disabled='', required='')
                    span
                    i.fa.fa-calendar
                  .form-group
                    input#poblacio.form-control(name='Poblacio', type='text', placeholder='Població', value=usuari.Poblacio, disabled='', required='')
                    span
                      i.fa.fa-map-marker
                    input#contraForm.form-control(name='Contrasenya', type='text', style='display: none;')
                  button#changePass.btn(type='button', data-toggle='modal', data-target='#edit-profile') Canvia Contrasenya
                  //a#changePass.btn(data-toggle='modal', data-target='#edit-profile') Canvia Contrasenya
                  button#editbtn.btn.btn-orange.btn-block(style='margin-top: 35px;') Edita
                  // end other-links
                // end custom-form
              // end form-content
            // end columns
          // end row
      // end container
    // end login
#edit-profile.modal.custom-modal.fade(style='display: none;')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') &times;
        h3.modal-title Canvia Contrasenya
      // end modal-header
      .modal-body
        form#formPassword
          .form-group
            input#password.form-control(type='password', name='Contrasenya', placeholder='Nova Contrasenya')
          // end form-group
          .form-group
            input#confirm_password.form-control(type='password', placeholder='Confirma Contrasenya')
            input.form-control(type='hidden', name='Nick', value=nick)
          // end form-group
          button#btnForm.btn.btn-orange.btn-block(type='submit') Guarda
      // end modal-bpdy
    // end modal-content
  // end modal-dialog
// ======================= FOOTER =======================
section#footer.ftr-heading-o.ftr-heading-mgn-1
  #footer-bottom.ftr-bot-black
    .container
      .row
        #copyright.col-xs-12.col-sm-6.col-md-6.col-lg-6
          p
            | &copy; 2017 
            a(href='#') Rooming
            | . All rights reserved.
        // end columns
        #terms.col-xs-12.col-sm-6.col-md-6.col-lg-6
          ul.list-unstyled.list-inline
            li
              a(href='/terms') Termes i Condicions
            li
              a(href='/polices') Politica de Privacitat
            li
              a(href='/contact') | Contacte 
        // end columns
      // end row
    // end container
  // end footer-bottom
// end footer
// Script editbtn
// Page Scripts Starts
script(src='/js/jquery.min.js')
script(src='/js/jquery.colorpanel.js')
script(src='/js/jquery.magnific-popup.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/jquery.flexslider.js')
script(src='/js/bootstrap-datepicker.js')
script(src='/js/owl.carousel.min.js')
script(src='/js/custom-navigation.js')
script(src='/js/custom-flex.js')
script(src='/js/custom-owl.js')
script(src='/js/custom-date-picker.js')
script(src='/js/custom-video.js')
script(src='/js/popup-ad.js')
// Page Scripts Ends

script.
  var editBtn = document.getElementById("editbtn").addEventListener('click',function (){
  //Eliminem El edit button
  var editBtn = document.getElementById("editbtn");
  editBtn.remove();
  //Botons del Formulari
  var cancelBtn = document.createElement("button");
  var confirmBtn = document.createElement("button");
  cancelBtn.setAttribute("class", "btn btn-black btn-block");
  confirmBtn.setAttribute("class", "btn btn-orange btn-block");
  confirmBtn.setAttribute('type','submit')
  //Text Nodes
  var nodeCancel = document.createTextNode("Cancela");
  var nodeConfirm = document.createTextNode("Confirma");
  cancelBtn.appendChild(nodeCancel);
  confirmBtn.appendChild(nodeConfirm);
  //Container Botons
  var divBtns = document.createElement("div");
  divBtns.setAttribute('class','row');
  divBtns.setAttribute('style','margin-top:10px;');
  //divBoto 1
  var divcol1 = document.createElement("div");
  divcol1.setAttribute('class','col-sm-6');
  divcol1.appendChild(cancelBtn);
  //divBoto 2
  var divcol2 = document.createElement("div");
  divcol2.setAttribute('class','col-sm-6');
  divcol2.appendChild(confirmBtn);
  //Append Botons
  divBtns.appendChild(divcol1);
  divBtns.appendChild(divcol2);

  //Mostrem Contingut
  var divEdit = document.getElementById("divEdit");
  divEdit.appendChild(divBtns);
  //Habilitem tots els inputs del Formulari
  document.getElementById("nom").disabled = false;
  document.getElementById("cognom").disabled = false;
  document.getElementById("mail").disabled = false;
  document.getElementById("dataNaix").disabled = false;
  document.getElementById("poblacio").disabled = false;
  //Cancel Action
  cancelBtn.addEventListener('click', function() {
  //Esborrem botons Formulari
  divBtns.remove();
  //Crem boto editar de nou
  divEdit.appendChild(editBtn);
  //Deshabilitem inputs
  document.getElementById("nom").disabled = true;
  document.getElementById("cognom").disabled = true;
  document.getElementById("user").disabled = true;
  document.getElementById("mail").disabled = true;
  document.getElementById("dataNaix").disabled = true;
  document.getElementById("poblacio").disabled = true;
  });
   });

script.
  $(document).ready(function(){
    $('#formPassword').submit(function(){
      var pass = $('#password').val();
      var confPass = $('#confirm_password').val();
      if (pass == confPass){
        $('#formPassword').attr('action','/profile?_method=PUT');
        $('#formPassword').attr('method','post');
      }else{
        alert('Les contrasenyes han de coincidir!');
        return false;
      }
    });
  });
  
script.
  $('#password, #confirm_password').on('keyup', function () {
  if ($('#password').val() == $('#confirm_password').val()) {
  $('#password').css('border', 'solid 2px green');
  $('#confirm_password').css('border', 'solid 2px green');
  } else{
  $('#password').css('border', 'solid 2px red');
  $('#confirm_password').css('border', 'solid 2px red');
  }
  });
  $('#password, #confirm_password').on('keyup', function () {
  if ($('#password').val() == '') {
  $('#password').css('border', 'none');
  }
  if ($('#confirm_password').val() == ''){
  $('#confirm_password').css('border', 'none');
  }
  });
