doctype html
head
  title #{room.Nom}
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  link(rel='icon', href='/images/favicon.png', type='image/x-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i%7CMerriweather:300,300i,400,400i,700,700i,900,900i', rel='stylesheet')
  // Bootstrap Stylesheet
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  // Font Awesome Stylesheet
  link(rel='stylesheet', href='/css/font-awesome.min.css')
  // Custom Stylesheets
  link(rel='stylesheet', href='/css/style.css')
  link#cpswitch(rel='stylesheet', href='/css/orange.css')
  link(rel='stylesheet', href='/css/responsive.css')
  // Owl Carousel Stylesheet
  link(rel='stylesheet', href='/css/owl.carousel.css')
  link(rel='stylesheet', href='/css/owl.theme.css')
  // Flex Slider Stylesheet
  link(rel='stylesheet', href='/css/flexslider.css', type='text/css')
  // Date-Picker Stylesheet
  link(rel='stylesheet', href='/css/datepicker.css')
  // Magnific Gallery
  link(rel='stylesheet', href='/css/magnific-popup.css')
  // Color Panel
  link(rel='stylesheet', href='/css/jquery.colorpanel.css')
  // SLICK
  link(rel='stylesheet', href='/css/slick.css')
  link(rel='stylesheet', href='/css/slick-theme.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css')
// ====== LOADER =====
.loader
// ============= TOP-BAR ===========
#top-bar.tb-text-white
  .container
    .row
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
      // end columns
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        #links
          ul.list-unstyled.list-inline
            if nick
              li
                a(href='/profile')
                  span
                    i.fa.fa-user
                  | Hola, #{nick} !
              li
                a(href='/signout')
                  span
                    i.fa.fa-sign-out
                  | Tancar Sessio
            else
              li
                a(href='/login')
                  span
                    i.fa.fa-lock
                  | Iniciar Sessió
              li
                a(href='/register')
                  span
                    i.fa.fa-plus
                  | Registra't
        // end links
      // end columns
    // end row
  // end container
// end top-bar
nav#mynavbar-1.navbar.navbar-default.main-navbar.navbar-custom.navbar-white
  .container
    .navbar-header
      button#menu-button.navbar-toggle(type='button', onclick='openNav()')
        span.icon-bar
        span.icon-bar
        span.icon-bar      
      a.navbar-brand(href='/')
        span
          img(src="../images/scape-yellow.png", alt="").icon-logo
          | ROOM
        | ING
    // end navbar-header
    #myNavbar1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a(href='/')
            | Inici
            span
        li.dropdown
          a(href='/categories')
            | Categories
            span
        li.active
          a(href='/rooms')
            | Rooms
            span
        li.dropdown
          a(href='/map')
            | Mapa
            span
    // end navbar collapse
  // end container
// end navbar
.sidenav-content
  #mySidenav.sidenav
    h2#web-name
      span
      | Rooming
    #main-menu
      .closebtn
        button#closebtn.btn.btn-default(onclick="closeNav()") &times;
      // end close-btn
      .list-group.panel
        a.list-group-item(href='/', data-parent='#main-menu')
          span
            i.fa.fa-home.link-icon(style='font-size:20px;')
          | Inici
          span
        a.list-group-item(href='/categories', data-parent='#main-menu')
          span
            i.fa.fa-list-ul.link-icon
          | Categories
          span
        a.list-group-item(href='/rooms', data-parent='#main-menu')
          span
            i.fa.fa-lock.link-icon(style='font-size:20px;')
          | Rooms
          span
        a.list-group-item(href='/map', data-parent='#main-menu')
          span
            i.fa.fa-map.link-icon
          | Mapa
          span
    // end mySidenav
  // end sidenav-content
// ==== INNERPAGE-WRAPPER =====
section.innerpage-wrapper(style='background-color: #f1f2f2;')
  .innerpage-section-padding
    .container
      .row
        .col-xs-12.col-sm-12.col-md-3.side-bar.left-side-bar
          .side-bar-block.booking-form-block
            h2.selected-price
              |#{room.Preu}&euro; 
              span Persona
          .text-center
            if (nick)
              a.btn.btn-orange(data-toggle='modal', data-target='#reserva') RESERVA
                   
          // end side-bar-block
          .row
            .col-xs-12.col-sm-6.col-md-12
              .side-bar-block.main-block.ad-block
              // end side-bar-block
            // end columns
            .col-xs-12.col-sm-6.col-md-12
              .side-bar-block.support-block(style='background-color: white;')
                h3 Contacte amb nosaltres
                p
                  | Si no has trobat resposta a les teves preguntes pots posar-te en contacte amb nosaltres per telefon a:
                .support-contact
                  span
                    i.fa.fa-phone
                  p #{establiment.Telefon}
                  .text-center
                    a.btn.btn-orange(href="/establiment/"+establiment.id) VEURE ESTABLIMENT
                // end support-contact
              // end side-bar-block
            // end columns
          // end row
        // end columns
        if propietari == true
            .col-xs-2.col-sm-6.col-md-2.col-lg-2(style="float:right;")
              .text-center
                a.btn.btn-orange(href="/room/"+room.id+"/edit") EDITAR
        .col-xs-12.col-sm-12.col-md-9.col-lg-9.content-side
          .detail-slider
            .feature-slider(style="text-align:center;")
              each foto in fotos
                if foto.room_id == room.id && !foto.principal
                  div
                    img.img-responsive(src=foto.URL, alt='img-'+foto.id style="height:350px;")
            // end feature-slider
            .feature-slider-nav
              each foto in fotos
                if foto.room_id == room.id && !foto.principal
                  div
                    img.img-responsive(src=foto.URL, alt='img-'+foto.id)
            ul.list-unstyled.features.tour-features
              li
                .f-icon
                  i.fa.fa-user
                .f-text
                  p.f-heading Persones
                  p.f-data #{room.Persones}
              li
                .f-icon
                  i.fa.fa-clock-o
                .f-text
                  p.f-heading Duració
                  p.f-data #{room.Duracio} min
              li
                .f-icon
                  i.fa.fa-percent
                .f-text
                  p.f-heading Categoria
                  p.f-data #{categoria}
              li
                .f-text
                  case room.Valoracio
                    when '0'
                      #ratingbar
                    when '1'
                      #ratingbar1
                    when '2'
                      #ratingbar2
                    when '3'
                      #ratingbar3
                    when '4'
                      #ratingbar4
                    when '5'
                      #ratingbar5
          // end detail-slider
          .detail-tabs
            .tab-content
              #car-information.tab-pane.in.active(style='background-color: white;')
                .row
                  .col-sm-4.col-md-4.tab-img
                  each foto in fotos
                    if foto.room_id == room.id && foto.principal
                      div
                        img.img-responsive(src=foto.URL, alt='roomscape-img' style="max-width:25%; float:right;")
                  // end columns
                  .col-sm-8.col-md-8.tab-text
                    h3 #{room.Nom}
                    p
                      | #{room.Descripcio}
            .tab-content
              #car-information.tab-pane.in.active(style='background-color: white; margin-top:20px;')
                h2 Comentaris               
                .row
                  each comentari in comentaris
                    if comentaris
                      .col-sm-12.col-md-12.tab-text.tab-pane(style='margin-top:20px;')
                        p(style='color:black;') #{comentari.Usuari}
                        h4 #{comentari.Titol}    
                        p
                          | #{comentari.Text}
                        p(style="color:grey; font-size:10px;")
                          | #{comentari.Data}
                    else
                      .col-lg-12
                        h3 Encara no s'ha fet cap comentari d'aquest Room. Sigues el primer!
            if nick
              .tab-content
                #car-information.tab-pane.in.active(style='background-color: white; margin-top:20px;')
                  h2 Deixa el teu comentari
                  form#comentForm(method='post', action='/comentari')
                    .form-group
                      .input-group
                        input.form-control.input-lg(type="hidden" name="Usuari" value=nick style='color:black; margin-bottom:10px;') 
                        input.form-control.input-lg(type="hidden" name="room_id" value=room.id style='margin-bottom:10px;')                       
                        input.form-control.input-lg(name="Titol" value="" style='margin-bottom:10px;' placeholder='Titol' required='')                       
                        textarea.form-control.input-lg(name="Text", cols="100", rows="4", type='text', placeholder='Escriu el teu comentari', required='')
                        br
                        br
                        br
                      br                      
                      #ratingbarComentari
                      input#inputVal(type='hidden',name='Valoracio')
                      button.btn.btn-orange(type='submit' style="margin-top:20px") ENVIA
                  // end columns
                // end row
              // end car-information
            // end tab-content
          // end detail-tabs
        // end row
      // end container
    // end car-detail
// end innerpage-wrapper
#reserva.modal.custom-modal.fade(style='display: none;')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') &times;
        h3.modal-title Reserva
      // end modal-header
      .modal-body
        form#formReserva(method='POST', action='/reserva')
          .form-group
            label Participants
            select.form-control(name='Participants')
              option(selected='', value='2') 2
              option(value='4') 4
              option(value='6') 6
              option(value='10') 10
          // end form-group
          .form-group
            label Data
            input#data.form-control.dpd3(name='Data',type='text', placeholder='Data Reserva', required='')
          .form-group
            label Hora
            select.form-control(name='Hora')
              option(selected='', value='16:00') 16:00
              option(value='18:00') 18:00
              option(value='20:00') 20:00
            input#inputVal(type="hidden", value=room.id, name='idUsuari')
          // end form-group
          button#btnForm.btn.btn-orange.btn-block(type='submit') Reserva
      // end modal-bpdy
    // end modal-content
  // end modal-dialog
// ======================= FOOTER =======================
section#footer.ftr-heading-o.ftr-heading-mgn-1
  #footer-bottom.ftr-bot-black
    .container
      .row
        #copyright.col-xs-12.col-sm-6.col-md-6.col-lg-6
          p
            | &copy; 2017 
            a(href='#') Rooming
            | . All rights reserved.
        // end columns
        #terms.col-xs-12.col-sm-6.col-md-6.col-lg-6
          ul.list-unstyled.list-inline
            li
              a(href='/terms') Termes i Condicions
            li
              a(href='/polices') Politica de Privacitat
            li
              a(href='/contact') | Contacte 
        // end columns
      // end row
    // end container
  // end footer-bottom
// end footer
// Page Scripts Starts
script(src='https://code.jquery.com/jquery-1.11.1.min.js')
script(src='https://code.jquery.com/ui/1.11.1/jquery-ui.min.js')
script(src='/js/slick.min.js')
script(src='/js/custom-slick.js')
script(src='/js/jquery.colorpanel.js')
script(src='/js/jquery.magnific-popup.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/jquery.flexslider.js')
script(src='/js/bootstrap-datepicker.js')
script(src='/js/owl.carousel.min.js')
script(src='/js/custom-navigation.js')
script(src='/js/custom-flex.js')
script(src='/js/custom-owl.js')
script(src='/js/custom-date-picker.js')
script(src='/js/custom-video.js')
script(src='/js/popup-ad.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js')
// Page Scripts Ends
script.
  $(function (){
    $('#ratingbarComentari').rateYo({
      rating: 0,
      starWidth: "20px",
      fullStar: true
    });
    $('#ratingbar').rateYo({
      rating: 0,
      readOnly: true,
      starWidth: "20px",
      fullStar: true
    });
    $('#ratingbar1').rateYo({
      rating: 1,
      readOnly: true,
      starWidth: "20px",
      fullStar: true
    });
    $('#ratingbar2').rateYo({
      rating: 2,
      readOnly: true,
      starWidth: "20px",
      fullStar: true
    });
    $('#ratingbar3').rateYo({
      rating: 3,
      readOnly: true,
      starWidth: "20px",
      fullStar: true
    });
    $('#ratingbar4').rateYo({
      rating: 4,
      readOnly: true,
      starWidth: "20px",
      fullStar: true      
    });
    $('#ratingbar5').rateYo({
      rating: 5,
      readOnly: true,
      starWidth: "20px",
      fullStar: true
    });
    $('#data').click(function (){
      $('.datepicker').css('z-index',32767);
    });
    $('#comentForm').submit(function(){
      var val = $('#ratingbarComentari').rateYo('rating');
      alert(val);
      $('#inputVal').val(val);
    })
  });